*{
  margin: 0;
  padding: 0;  
}

.card {
    background-color: thistle;
    
    

}


body {
    /* background-color: #1f1f1f; */
    color: teal;

}


button {
    padding: 10px 10px;
    background-color: transparent;
    
    border-radius: 50px;
    border: 0.1px solid purple;
    padding-right: 30px;
}

#dark:hover, #light:hover {
    cursor: pointer;
    
    
}

